# Binários
bin/
dist/
*.exe
*.dll
*.so
*.dylib

# Go
vendor/
go.work.sum

# Bancos de Dados (CRÍTICO para o Digna)
data/
**/data/*.db
**/data/**/*.db
**/data/*.db-journal
**/data/**/*.db-journal
**/data/*.db-wal
**/data/**/*.db-wal
*.sqlite

# Configurações e Segredos
.env
.vscode/

# Logs
*.log
docs/sessions/*.log
