go 1.25.4

use (
	./modules/accountant_dashboard
	./modules/cash_flow
	./modules/core_lume
	./modules/distribution
	./modules/integration_test
	./modules/integrations
	./modules/legal_facade
	./modules/lifecycle
	./modules/pdv_ui
	./modules/reporting
	./modules/sync_engine
	./modules/ui_web
)
